.modal__wrapper {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal__container {
  position: relative;
  background-color: white;
  border-radius: 20px;
  max-width: 400px;
  padding: 20px 10px;
}
.modal__header {
  padding: 10px 0;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  margin: 10px;
}
.modal__close-btn button {
  background: var(--background-color2);
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
}
.modal__content p {
  text-align: center;
  margin: 30px 30px;
}
.modal__actions {
  display: flex;
  justify-content: space-around;
}
.modal__actions button {
  width: 40%;
  font-weight: 500;
  background: var(--text-color1);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
}
.modal__actions button:nth-of-type(1) {
  background: var(--background-color2);
}
/* .modal__actions button:hover {
  background: var(--background-color1);
  color: var(--text-color1);
} */
