.changePass__container h5 {
  color: var(--background-color2);
  text-align: center;
}
.changePass__ErrorMsg {
  color: var(--text-color1);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  background-color: red;
  margin: 5px 0;
}
.changePass__form {
  display: flex;
  flex-direction: column;
}
.changePassForm__group {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 1rem;
  align-self: center;
  justify-content: center;
  width: 80%;
}
.changePassForm__group label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--text-color1);
  align-self: flex-start;
}
.changePassForm__input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--text-color1);
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}
.changePassForm__input:focus {
  outline: none;
  border-color: var(--background-color2);
}
.changePass__input-container {
  position: relative;
}

.changePass__input-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.changePass__visibility-icon {
  color: var(--text-color2);
}
.changePass__errorMsg {
  color: var(--text-color1);
  font-size: 0.8rem !important;
  margin-top: 10px;
  background-color: red;
}
.changePass__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.changePass__btns button {
  color: var(--text-color2);
  border: none;
  background: var(--background-color2);
  padding: 7px 20px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  width: 250px;
  height: 40px;
}
