/* Recipient Details */
/* .recipient__details {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  padding-bottom: 250px;
}

.recipient__details.is-flipped {
  transform: rotateY(180deg);
}

.recipient__details-front,
.recipient__details-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: var(--text-color1);
}

.recipient__details-back {
  transform: rotateY(180deg);
}

.recipient__details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.recipient__details-edit-btn {
  background-color: transparent;
  border: none;
  color: #0072c6;
  cursor: pointer;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
button[type="submit"] {
  background-color: #0072c6;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #005ea2;
} */

.recipient__details {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  padding-bottom: 250px;
}

.recipient__details.is-flipped {
  transform: rotateY(180deg);
}

.recipient__details-front,
.recipient__details-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: var(--text-color1);
}

.recipient__details-back {
  transform: rotateY(180deg);
}

.recipient__details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.recipient__details-edit-btn {
  background-color: transparent;
  border: none;
  color: var(--background-color1);
  cursor: pointer;
}
.recipient__details-cancel-btn {
  background-color: transparent;
  border: none;
  color: #e60000;
  cursor: pointer;
}
.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
button[type="submit"] {
  background-color: #0072c6;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
button[type="submit"]:hover {
  background-color: #005ea2;
}

/* Media Query for small screens */
@media only screen and (max-width: 768px) {
  .recipient__details {
    padding-bottom: 0;
  }
  .recipient__details-header {
    flex-direction: column;
    align-items: flex-start;
  }
  button[type="submit"] {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Payment Methods */
.payment__methods {
  background-color: var(--text-color1);
  border: 1px solid #ddd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.payment__methods .form__group {
  margin: 20px 0;
}

.payment__methods label {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.payment__methods input {
  margin-right: 5px;
}

.payment__methods p {
  margin-top: 10px;
}
.payment__methods p span {
  font-weight: 600;
}

.radio__button {
  display: none;
}

.radio__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

/*Order Summary*/
.order__summary {
  background: var(--background-color1);
  border-radius: 20px;
  padding: 20px;
}

tr,
td {
  color: var(--text-color1);
  border: none !important;
}

.orderSummary__footer {
  text-align: center;
  margin: 30px;
}
.orderSummary__footer h6 {
  color: var(--text-color1);
}
.orderSummary__footer h6:last-child {
  color: var(--background-color2);
}

.place__order {
  display: flex;
  margin: auto;
  width: 200px;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: var(--background-color2);
  border: none;
  padding: 4px 20px;
  border-radius: 5px;
  color: var(--text-color2);
  font-weight: 500;
}
.svg__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.svg__image {
  margin: 40px 0;
  height: 350px;
  width: 100%;
}
