.editProfile__container {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.editProfile__container h5 {
  color: var(--background-color2);
  text-align: center;
}
.editProfile__form {
  display: flex;
  flex-direction: column;
}
.editForm__group {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 1rem;
  align-self: center;
  justify-content: center;
  width: 80%;
}
.custom__file-upload input[type="file"] {
  display: none;
}
.custom__file-upload label {
  padding: 7px 20px;
  background-color: var(--background-color2);
  color: var(--text-color2) !important;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.custom__file-upload span {
  color: var(--text-color1);
  font-weight: 500;
}

.editForm__group label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--text-color1);
  align-self: flex-start;
}
.editForm__input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--text-color1);
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}
.editForm__input:focus {
  outline: none;
  border-color: var(--background-color2);
}
.edit__errorMsg {
  color: var(--text-color1);
  font-size: 0.8rem !important;
  margin-top: 10px;
  background-color: red;
}
.editProfile__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.editProfile__btns button {
  color: var(--text-color2);
  border: none;
  background: var(--background-color2);
  padding: 7px 20px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  width: 250px;
  height: 40px;
}
