.featuredProduct__slides {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 20px;
  padding: 0 40px;
}

.ftProdPrev__btn,
.ftProdNext__btn {
  position: absolute;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: transparent !important;
  color: var(--background-color2);
  font-size: 2.5rem;
  border: 0;
}
.ftProdPrev__btn {
  left: 0%;
}
.ftProdNext__btn {
  right: 2%;
}
