.foodCategory__container h4 {
  color: var(--background-color2);
}
.foodCategory__container h6 {
  color: var(--text-color1);
}
.foodCategory__slides {
  position: relative;
  width: 100%;
  height: auto;
}
.foodCategory__item {
  text-align: center;
  padding: 20px;
}
.foodCategory__item a {
  color: var(--text-color1);
  text-decoration: none;
}
.foodCategory__item a:hover {
  color: var(--background-color2);
}
.foodCategory__item img {
  max-width: 100px;
  margin: auto;
  margin-bottom: 5px;
}
.foodCategory__item img:hover {
  transform: scale(1.1);
}
.foodCategory__item span {
  font-weight: 600;
}
