.forgotPassword__body {
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.forgotPassword__container {
  width: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  border: 5px solid var(--background-color2);
  border-radius: 50px;
  background-color: var(--background-color1);
}
.forgotPassword__container h5 {
  color: var(--background-color2);
}
.lock__img {
  width: 20%;
  height: auto;
}

.enterEmail__msg {
  width: 80%;
  font-size: 1rem;
  margin: 20px 0;
  color: var(--text-color1);
}
.enterEmail__msg label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  color: var(--text-color1);
}

/* Email Field */
.forgotPassForm__group {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 1rem;
  align-self: center;
  justify-content: center;
  width: 80%;
}
.forgotPassForm__group label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--text-color1);
  align-self: flex-start;
}
.forgotPassForm__input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--text-color1);
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}
.forgotPassForm__input:focus {
  outline: none;
  border-color: var(--background-color2);
}
.forgotPass__errorMsg {
  color: var(--text-color1);
  font-size: 0.8rem !important;
  margin-bottom: 1rem;
  background-color: red;
}

.submit__btn {
  width: 50%;
  align-self: center;
  border: none;
  background-color: var(--background-color2);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  margin: 10px;
}
