.home__slides {
  width: 100%;
  height: auto;
}
.prev__btn,
.next__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: transparent !important;
  color: var(--background-color2);
  font-size: 2.5rem;
  border: 0;
}
.prev__btn {
  left: 2%;
}
.next__btn {
  right: 2%;
}
.homeSlider__img img {
  width: 100%;
  height: 500px;
  object-fit: fill;
}

@media only screen and (max-width: 992px) {
  .home__slides,
  .homeSlider__img img {
    width: 100%;
    height: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .home__slides,
  .homeSlider__img img {
    width: 100%;
    height: 500px;
  }
}

@media only screen and (max-width: 576px) {
  .prev__btn,
  .next__btn {
    font-size: 1rem;
    left: 1%;
    right: 1%;
  }
}
