/*By Category Products*/
.categoriesBtn__slides {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
/* .slides__item {
  width: 100px;
} */
.category__title {
  justify-content: center;
}
.category__btn {
  width: 80%;
  height: auto;
  align-items: center;
  justify-content: center;
  background: var(--background-color1);
  color: var(--text-color1);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px;
  border: 2px solid var(--background-color2);
  display: flex;
}
.category__btn:active,
.category__btn:focus {
  background-color: var(--background-color2);
  color: var(--text-color2);
}

.menu__Title {
  display: none;
}

.menu__search {
  background: #c4cab7;
  width: 50%;
  height: 100px;
}
