/* Order Details */
.order__details-container {
  background-color: var(--text-color1);
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.order__details-item p,
.order__details-item span {
  display: inline-block;
}
.order__details-item p {
  font-weight: 500;
}

/* Order Status */
/* Left Side */
.status__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.status__image-wrapper {
  max-height: auto;
  overflow: hidden;
}
.status__image-wrapper img {
  height: auto;
  width: 300px;
}

/* Right Side */
.order__status-container {
  margin: -5px 0 0 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order__status-container img {
  width: 40px;
  height: 40px;
  /* box-shadow: 2px 2px 2px var(--background-color2); */
  border: 3px solid var(--background-color2);
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.order__status-container img.check-circle {
  filter: none;
  content: url("../assets/images/check.png");
}

.order__status-text {
  margin-left: 10px;
  color: var(--text-color1);
}

.order__status-text h5 {
  font-weight: bold;
  color: var(--background-color2);
  text-shadow: 2px 2px 2px var(--background-color1);
}

.order__status-line {
  margin: 0 0 0 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.order__status-line .line {
  height: 40px;
  width: 3px;
  margin-left: 18px;
  background-color: var(--background-color2);
  z-index: -1;
}

.order__status-line .dotted-line {
  width: 4px;
  height: 40px;
  margin-left: 17px;
  z-index: -1;
}
