.product__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  min-width: 80%;
  padding: 10px;
}

.single__product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--text-color1);
  border: 1px solid var(--text-color2);
  box-shadow: 10px 10px 2px var(--background-color1);
  overflow: hidden;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  align-items: center;
}

.single__product:hover {
  transform: translateY(-5px);
}

.product__img img {
  display: block;
  object-fit: contain;
  margin: auto;
  width: 70%;
  height: 150px;
}

.product__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
}

.product__content h6 {
  font-weight: 600;
}

.product__content a {
  text-decoration: none;
  color: var(--text-color2);
}

.product__content a:hover {
  color: var(--background-color1);
}

.productCard__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__price,
.order__btn {
  display: inline-block;
  margin: 15px 5px 0 30px;
}

.product__price {
  font-weight: 600;
  font-size: 1.2rem;
}

.order__btn {
  padding: 7px 25px;
  font-weight: 600;
  border-radius: 5px;
  background: var(--background-color2);
  border: none;
  color: #000000;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .single__product {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .single__product {
    flex-basis: calc(100% - 20px);
    max-width: calc(100% - 20px);
    margin-bottom: 20px;
  }
}
