.single__product-row {
  justify-content: center;
  align-items: center;
}
/* .foodProduct__image {
  text-align: center;
}
.foodProduct__image img {
  width: 20%;
  height: auto;
  /* display: block; 
} */

.foodProduct__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodProduct__image img {
  max-width: 70%;
  max-height: auto;
}

.foodProduct__title {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: left;
  color: var(--background-color2);
  text-shadow: 2px 2px 2px var(--background-color1);
}
.foodProduct__price {
  display: flex;
  /* column-gap: 1rem; */
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--background-color2);
  text-shadow: 2px 2px 2px var(--background-color1);
}
.foodProduct__price span {
  font-size: 1.5rem;
  color: var(--background-color2);
  text-shadow: 2px 2px 2px var(--background-color1);
}
.foodProduct__category {
  font-weight: 500;
  color: var(--text-color1);
  display: flex;
  column-gap: 1rem;
  margin-top: 10px;
  align-items: center;
}
.foodProduct__category span {
  padding: 5px 10px;
  background: var(--background-color2);
  color: var(--text-color2);
  border-radius: 5px;
}
.foodProduct_desc p {
  font-weight: 500;
  color: var(--text-color1);
}
.foodProduct_desc span {
  font-weight: 200;
  color: var(--text-color1);
  text-align: justify;
  text-justify: inter-word;
}
.foodProduct__addBtn {
  background: var(--background-color2);
  color: var(--text-color2);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 10px;
  border: none;
  /* width: 130px; */
  width: 100%;
}

/* Total Price Text */
.totalPrice__txt span {
  font-size: 1rem;
  font-weight: 600;
}

/* Food Quantity Button */
.foodProduct__qty button {
  color: var(--background-color2);
  border: none;
  /* background-color: var(--text-color1); */
  background-color: transparent;
  padding: 0 10px;
  font-size: 1.5rem;
}

.quantity__label {
  color: var(--text-color1);
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px var(--background-color1);
}

/*Customize Your Order */
.customize__order {
  height: auto;
  width: 100%;
  border: 1px solid #000000;
}
