.single__product-row {
  justify-content: center;
  align-items: center;
}
.container__leftCol {
  border: 1px solid red;
}

.foodProduct__image img {
  width: 60%;
  height: auto;
  display: block;
  /* margin: 0 auto; */
}
.foodProduct__title {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: left;
}
.foodProduct__price {
  display: flex;
  /* column-gap: 1rem; */
  font-weight: 600;
  font-size: 1.5rem;
}
.foodProduct__price span {
  font-size: 1.5rem;
}
.foodProduct__category {
  font-weight: 500;
  color: var(--text-color2);
  display: flex;
  column-gap: 1rem;
  margin-top: 10px;
  align-items: center;
}
.foodProduct__category span {
  padding: 5px 10px;
  background: var(--background-color2);
  color: #000;
  border-radius: 5px;
}
.foodProduct_desc p {
  font-weight: 500;
  color: #000;
}
.foodProduct_desc span {
  font-weight: 200;
  color: #000;
  text-align: justify;
  text-justify: inter-word;
}
.foodProduct__addBtn {
  background: var(--background-color2);
  color: var(--text-color2);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 10px;
  border: none;
  /* width: 130px; */
  width: 100%;
}

/* Total Price Text */
.totalPrice__txt span {
  font-size: 1rem;
  font-weight: 600;
}

/* Food Quantity Button */
.foodProduct__qty button {
  color: var(--background-color2);
  border: none;
  background-color: var(--text-color1);
  padding: 0 10px;
}

/*Customize Your Order */
.customize__order {
  height: auto;
  width: 100%;
  border: 1px solid #000000;
}
