.registration__body {
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.authForm__container,
.registration__form {
  display: flex;
  flex-direction: column;
}
.authForm__container {
  padding: 3rem !important;
  border: 5px solid var(--background-color2);
  border-radius: 50px;
  background-color: var(--background-color1);
  width: 40%;
}
.authForm__container h5 {
  color: var(--background-color2);
}
/* Registration Form Label, Input and Error Msg */
.input__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}
.input__field label {
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  width: 80%;
  margin-bottom: 0.25rem 0;
  color: var(--text-color1);
}
.input__container {
  position: relative;
  width: 80%;
}
.input__container input {
  width: 100%;
  padding-right: 30px;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  color: var(--text-color2);
}
.visibility-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.registration__errorMsg {
  color: var(--text-color1);
  font-size: 0.8rem !important;
  margin-bottom: 10px;
  background-color: red;
}
.customErrorMsg {
  color: var(--text-color1);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  background-color: red;
  margin: auto;
}

.youAgree__txt {
  font-size: 0.8rem;
  color: var(--text-color1);
}
.youAgree__txt label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: var(--text-color1);
}
.youAgree__txt label span {
  text-decoration: underline;
  color: var(--background-color2);
  cursor: pointer;
}
.signUp__btn {
  width: 80%;
  align-self: center;
  border: none;
  background-color: var(--background-color2) !important;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color2) !important;
}
.alreadyHave__txt {
  color: var(--text-color1);
}
.alreadyHave__txt span {
  color: var(--background-color2);
  text-decoration: underline;
  cursor: pointer;
}
