.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100px;
  background: rgb(113, 25, 23);
  background: linear-gradient(
    160deg,
    rgba(113, 25, 23, 1) 50%,
    rgba(253, 187, 45, 1) 100%
  );
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.banner h1 {
  font-size: 2rem;
  color: #ffd700;
  margin: 0;
  padding: 0;
}
