/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

:root {
  --background-color1: #751c1a;
  --background-color2: #ffc500;
  --text-color1: #fff;
  --text-color2: #000;
}

/* reset default style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base style */

body {
  /* background: #f5ece7; */
  background-image: url("assets/images/palabok-bg.jpg");
  font-family: "Istok Web", sans-serif;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; /* make sure the parent is positioned */
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* set the overlay color and opacity */
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif !important;
}

a {
  font-family: "Istok Web", sans-serif;
  text-decoration: none;
  color: unset;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
}

section,
main {
  padding: 30px 0px;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 15px 0px;
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }
}
